<div class="row">
	<h1 class="col-md-3 offset-1">contact:</h1>
</div>	
<hr>
<div class="row">
	<article class="col-md-5 offset-4">
		IVD 114 Ambohibahiny, CR Ankaraobato <br>
		Antananarivo Madagascar <br>
		code postale: Antananarivo 102 <br><br>

		email: rasolonjatovohery0011@gmail.com <br>
		tel: 034 08 052 61 <br>
		facebook: dakadaka <br><br>

		bla bla bla bla bla bla bla 
	</article>
</div>

<div class="row">
	<aside class="col-md-5 offset-4">


	</aside>
</div>
<br><br><br><br>
