<div class="row">
	<h1 class="col-md-4 col-md-offset-5">contact</h1>
</div>
<hr>
<div class="row">
	<article class="col-md-6 offset-0">
		IVD 114 Ambohibahiny, CR Ankaraobato <br>
		Antananarivo Madagascar <br>
		code postale: Antananarivo 102 <br><br>

		email: rasolonjatovohery0011@gmail.com <br>
		tel: 034 08 052 61 <br>
		facebook: dakadaka <br>
	</article>
</div>
