  <br><br><br>
  <!--================Blog Details Area =================-->
        <section class="blog_details_area p_100">
            <div class="container">
                <div class="row blog_details_inner">
                    <div class="col-md-8">
                        <div class="blog_details_img">
                            <img src="/lib/sary/f5.jpg" alt="">
                        </div>
                        <div class="blog_d_text">
                            <a href="#"><h3>lorem titre</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                            <div class="quote_text">
                                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            </div>
                        </div>
                        <div class="image_text">
                            <div class="media">
                                <div class="media-left">
                                    <img src="/lib/img/blog/blog-d-s-1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                            </div>
                            <ul class="img_list">
                                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Crisp fresh iconic elegant timeless clean perfume</a></li>
                                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Neck straight sharp silhouette and dart detail</a></li>
                                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Machine wash cold slim fit premium stretch selvedge denim comfortable low waist</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                        </div>
                       
                        
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar_area">
                            <aside class="right_widget r_post_widget">
                                <div class="r_post_inner">
                                    <div class="r_post_item">
                                        <img src="/lib/sary/f1.jpg" alt="">
                                        <a href="#"><p>votre commentaire</p></a>
                                    </div>
                                    <div class="r_post_item">
                                        <img src="/lib/sary/f2.jpg" alt="">
                                        <a href="#"><p>votre commentaire</p></a>
                                    </div>
                                    <div class="r_post_item">
                                        <img src="/lib/sary/f3.jpg" alt="">
                                        <a href="#"><p>votre commentaire</p></a>
                                    </div>
                                </div>
                            </aside>
                            <aside class="right_widget r_social_widget">
                                <div class="r_w_title">
                                    <h3>reseaux sociaux</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Blog Details Area =================-->
      