	<br><br><br>
    <div class="row">
        <div class="col-md-12 offset-3">
            <article  id="slider">
                <figure>
                        <img class="img-fluid" src="/assets/sary/f1.jpg" alt="">
                        <img class="img-fluid" src="/assets/sary/f5.jpg" alt="">
                        <img class="img-fluid" src="/assets/sary/f3.jpg" alt="">
                        <img class="img-fluid" src="/assets/sary/f4.jpg" alt="">
                        <img class="img-fluid" src="/assets/sary/f2.jpg" alt=""> 
                </figure>
            </article>
        </div>
    </div>
    <div class="row aside">
            <div class="col-md-5 offset-1">
                    <img class="img-fluid" src="/assets/sary/f1.jpg" width="500" height="400">
            </div>
            <div class="col-md-5">       
                    <img class="img-fluid" src="/assets/sary/f2.jpg" width="500" height="400">
            </div>     
    </div><br><br>
