  		<header>
    	<section id="devant"><img src="/assets/sary/l2.jpg" width="80" height="80"></section>
		<section id="derriere"><img src="/assets/sary/l1.jpg" width="80" height="80"></section>
		<button type="button" class="btn btn-success"><a href="presentation">Presentation</a></button>
		<button type="button" class="btn btn-success"><a href="<% mission_path%>">Mission</a></button>
		<button type="button" class="btn btn-success"><a href="#">Realisation</a></button>
		<button type="button" class="btn btn-success"><a href="#">Partenaire</a></button>	
		<button type="button" class="btn btn-success"><a href="#">Garanties</a></button>	
		<button type="button" class="btn btn-success"><a href="#">Contant</a></button>
	</header>
<br><br><br>

	<article id="slider">
		<figure>
			<img src="/assets/sary/f1.jpg" alt="">
			<img src="/assets/sary/f5.jpg" alt="">
			<img src="/assets/sary/f3.jpg" alt="">
			<img src="assets/sary/f4.jpg" alt="">
			<img src="assets/sary/f2.jpg" alt="">
		</figure>
	</article>
		<aside>
			<img src="/assets/sary/f1.jpg" width="500" height="400">
			<img src="/assets/sary/f2.jpg" width="500" height="400">
		</aside><br><br>
		<footer>
			bienvenue sur notre site
		</footer>	