    <br><br>
    <body>
        
        <!--================Service Single Area =================-->
        <section class="service_single_area">
            <div class="container">
                <div class="service_single_inner">
                    <div class="project_single_slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-1.jpg" alt=""></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                 <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-1.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-1.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-1.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-1.jpg" alt="" width="175" height="100"></li>
                                <li><img src="/lib/img/project/project-single-slider/project-s-2.jpg" alt="" width="175" height="100"></li>
                            </ul>
                            <div class="custom-navigation">
                                <a href="#" class="flex-prev"><i class="fa fa-angle-left"></i></a>
                                <a href="#" class="flex-next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Service Single Area =================-->
        
        
         <!--================Others Service Area =================-->
        <section class="other_service_area">
            <div class="container">
                <h4 class="project_title">Notre Services</h4>
                <div class="service2_inner other_service_slider owl-carousel">
                    <div class="item">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon">
                                        <img src="/lib/img/icon/s2-icon-1.png" alt="">
                                        <img src="/lib/img/icon/s2-icon-hover-1.png" alt="">
                                    </div>
                                    <h4>NEW-CONSTRUCTION</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-que laudantium totam rem aperiam.</p>
                                    <a class="view_btn" href="#">Read Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon">
                                        <img src="/lib/img/icon/s2-icon-2.png" alt="">
                                        <img src="/lib/img/icon/s2-icon-hover-2.png" alt="">
                                    </div>
                                    <h4>LOCATION</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-que laudantium totam rem aperiam.</p>
                                    <a class="view_btn" href="#">Read Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon">
                                        <img src="/lib/img/icon/s2-icon-3.png" alt="">
                                        <img src="/lib/img/icon/s2-icon-hover-3.png" alt="">
                                    </div>
                                    <h4>REMODEL & REIMAGE</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-que laudantium totam rem aperiam.</p>
                                    <a class="view_btn" href="#">Read Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Others Service Area =================-->
        
  </body>    