<br><br><br>
<body>
<!--================Our Project2 Area =================--> 
        <section class="our_project2_area">
            <div class="container">
                <div class="main_c_b_title">
                    <h2>Notre<br class="title_br">Partenaire</h2>
                </div>
                <ul class="our_project_filter">
                    <li class="active" data-filter="*"><a href="#">partenaire 1</a></li>
                    <li data-filter=".building"><a href="#">partenaire 2</a></li>
                    <li data-filter=".interior"><a href="#">partenaire 3</a></li>
                    <li data-filter=".design"><a href="#">partenaire 4</a></li>
                    <li data-filter=".isolation"><a href="#">partenaire 5</a></li>
                </ul>
                <div class="row our_project_details">
                    <div class="col-md-4 col-sm-6 building isolation interior">
                        <div class="project_item">
                            <img src="/assets/img/project/project-2/project-1.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design">
                        <div class="project_item">
                            <img src="/assets/img/project/project-2/project-2.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior design plumbing">
                        <div class="project_item">
                            <img src="/assets/img/project/project-2/project-3.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling plumbing">
                        <div class="project_item">
                            <img src="/assets/img/project/project-2/project-4.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior plumbing">
                        <div class="project_item">
                            <img src="/assets/img/project/project-2/project-5.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design plumbing">
                        <div class="project_item">
                            <img src="/assets/img/project/project-2/project-6.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>