<br><br>
 <div class="container">
    <div class="row justify-content-md-center" width="50">
        <div class="col col-lg-12 col-xl-10">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">accueil</a></li>
                    <li class="breadcrumb-item"><a href="/">presentation</a></li>
                </ol>
            </div>      
        </div>
    </div>
</div>

        <!--================Quoto Slider Area =================-->
        <br><br>
        <body>
        <section class="quoto_slider_area" style="height: 500px">
            <div class="container">
                <div class="quoto_slider_inner">
                    <div class="quoto_slider owl-carousel" style="padding-top: 90px ">
                        <div class="item">
                            <h4><span>haintso-trano </span>dia vonona ny hanampy anao </h4>
                            <p>bla bla bla bal bal bla bla bla bla bla bla bla bla bla bla bla bla</p>
                        </div>
                        <div class="item">
                            <h4><span>haintso-trano </span>dia vonona ny hanampy anao </h4>
                            <p>bla bla bla bal bal bla bla bla bla bla bla bla bla bla bla bla bla</p>
                        </div>
                        <div class="item">
                            <h4><span>haintso-trano </span>dia vonona ny hanampy anao </h4>
                            <p>bla bla bla bal bal bla bla bla bla bla bla bla bla bla bla bla bla</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Quoto Slider Area =================-->
<!--================Our Project2 Area =================--> 
        <section class="our_project2_area">
            <div class="container">
                <div class="main_c_b_title">
                    <h2>Notre<br class="title_br">Projects</h2>
                </div>
                <ul class="our_project_filter">
                    <li class="active" data-filter="*"><a href="#">Tous</a></li>
                    <li data-filter=".building"><a href="#">Const 1</a></li>
                    <li data-filter=".interior"><a href="#">Const 2</a></li>
                    <li data-filter=".design"><a href="#">Const 3</a></li>
                    <li data-filter=".isolation"><a href="#">Const 4</a></li>
                    <li data-filter=".plumbing"><a href="#">Const 5</a></li>
                </ul>
                <div class="row our_project_details">
                    <div class="col-md-4 col-sm-6 building isolation interior">
                        <div class="project_item">
                            <img src="/lib/img/project/project-2/project-1.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design">
                        <div class="project_item">
                            <img src="/lib/img/project/project-2/project-2.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior design plumbing">
                        <div class="project_item">
                            <img src="/lib/img/project/project-2/project-3.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling plumbing">
                        <div class="project_item">
                            <img src="/lib/img/project/project-2/project-4.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 isolation tiling interior plumbing">
                        <div class="project_item">
                            <img src="/lib/img/project/project-2/project-5.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 building isolation tiling design plumbing">
                        <div class="project_item">
                            <img src="/lib/img/project/project-2/project-6.jpg" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>haintso-trano</h4></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
        <!--================End Our Project2 Area =================-->
        
        