<div class="row">
	<div class="col-md-2 offset-1">
			<img class="img-fluid" src="/assets/sary/f5.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>

	<div class="col-md-2 offset-1">
			<img class="img-fluid" src="/assets/sary/f2.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>	

	<div class="col-md-2 offset-1">
			<img class="img-fluid" src="/assets/sary/f3.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>	

	<div class="col-md-2 offset-1">
			<img class="img-fluid" src="/assets/sary/f4.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>	
</div><br>

<div class="row">
	<div class="col-md-2 offset-0">
		<img class="img-fluid" src="/assets/sary/f3.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>

	<div class="col-md-2 offset-1">
		<img class="img-fluid" src="/assets/sary/f5.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>	

	<div class="col-md-2 offset-1">
		<img class="img-fluid" src="/assets/sary/f2.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>

	<div class="col-md-2 offset-1">
		<img class="img-fluid" src="/assets/sary/f5.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>
</div><br>

<div class="row">
	<div class="col-md-2 offset-1">
		<img class="img-fluid" src="/assets/sary/f1.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>

	<div class="col-md-2 offset-1">
		<img class="img-fluid" src="/assets/sary/f5.jpg" alt="">
			<p class="card-text">hahah </p>
	</div>	

	<div class="col-md-2 offset-1">
		<img class="img-fluid" src="/assets/sary/f2.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>
</div><br>

<div class="row">
	<div class="col-md-2 offset-2">
		<img class="img-fluid" src="/assets/sary/f1.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>

	<div class="col-md-2 offset-1">
		<img class="img-fluid" src="/assets/sary/f4.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>	

	<div class="col-md-2 offset-1">
		<img class="img-fluid" src="/assets/sary/f2.jpg" alt="">
			<p class="card-text">hahah</p>
	</div>
</div><br><br>
