<div class="row">
    <div class="col-md-3 offset-1">
         <img class="img-fluid" src="/assets/sary/f1.jpg" alt="">
     </div>  
     <div class="col-md-3 offset-1">  
         <img class="img-fluid" src="/assets/sary/f5.jpg" alt="">
      </div>   
      <div class="col-md-3 offset-1 img3"> 
         <img class="img-fluid" src="/assets/sary/f3.jpg" alt="">
    </div>
</div>
<br>


<div class="row">
    <div class="col-md-3 offset-2">
         <img class="img-fluid" src="/assets/sary/f1.jpg" alt="">
     </div>  
     <div class="col-md-3 offset-2">  
         <img class="img-fluid" src="/assets/sary/f5.jpg" alt="">
      </div>   
</div>

<div class="row">
    <div class="offset-3 card" style="width: 18rem;">
         <img class="card-img-top" src="/assets/sary/f1.jpg" alt="Card image cap">
        <div class="card-body">
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
    </div>     
</div>