// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
headers{
	height:70px;
	width:1200px;
	padding:40px;
	margin: 0px;
	z-index: 100;
	background-color: white;
	text-align: right;
	height: 80px;
}
nav{
	background-color: #a1a1a1;
	height:40px;
	text-align:right;
	letter-spacing:1px;	
	padding:10px;
}
font:hover{
	color:green;
}
a:hover{
	color:green;
}
h4{
	font-family: FreeMono;
	letter-spacing:3px;	
}
h2{
	letter-spacing:3px;
	font-family: fontawesome;
}
body{
	background-color: #f1f1f1;
}
section{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 40px;
	border: 2px, solid #444;
	text-align: center;
	font-size: 1.3em;
	font-family: arial, sans-serif;
	transition: 2s;
	backface-visibility: hidden;

}
#devant{
	z-index: 100;
	background-image: linear-gradient(white,green); 
}
#derriere{
	z-index: 50;
	background-image: linear-gradient(white,red);
	transform: rotateY(-180deg);
}
#devant:hover{
	transform: rotateY(360deg);
}
#devant:hover + #derriere{
	transform: rotateY(180deg);
}
article#slider{
	width: 50%;
	max-width: 1000px;
}
article#slider figure{
	position: relative;
	width: 50%;
	margin: 0;
	//padding: 0;
	font-size: 0;
	text-align: left;
}
article#slider figure img{
	width: 20%;
	height: 400px;
	float: left;
}
article#slider{
	width: 50%;
	max-width: 1000px;
	overflow: hidden;
	padding-top:0px;
}
@keyframes slidy{
	0%{
		left: 0%;
	}
	20%{
		left: 0%;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
article#slider figure{
	position: relative;
	width: 500%;
	font-size: 0;
	text-align: left;
	animation: 15s slidy infinite;
}
article{
	width: 700px;
	height: 400px;
	position: absolute;
	border: 2px, solid #444;
	text-align: center;
	font-size: 1.3em;
	font-family: arial, sans-serif;
	transition: 2s;
	backface-visibility: visible;
}
.aside{
	
	margin-top: 350px;
}
footer{
	background-color:white;
	text-align:center;
	height: 50px;
	padding: 15px;

}	