        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="footer_widgets_area footer_bg">
                <div class="container">
                    <div class="row footer_widgets_inner">
                        <div class="col-md-3 col-sm-6">
                            <aside class="f_widget about_widget">
                                <ul>
                                    <li><a href="www.facebook.com/haintso-trano"><i class="fa fa-facebook">  facebook</i></a></li><br>
                                    <li><a href="www.twiter.com/haintso-trano"><i class="fa fa-twitter">  twiter</i></a></li><br>
                                    <li><a href="#"><i class="fa fa-google-plus">  google-plus</i></a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <aside class="f_widget recent_widget">
                                <div class="f_w_title">
                                    <h3>partenaire 1</h3>
                                </div>
                                <div class="recent_w_inner">
                                   
                                    
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <aside class="f_widget address_widget">
                                <div class="f_w_title">
                                    <h3>Partenaire 2</h3>
                                </div>
                               
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <aside class="f_widget give_us_widget">
                                <h5>PARTENAIREN 3</h5>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        