 <header class="main_header_area transparent_menu">
            <div class="header_top_area" style="background-color: black">
                <div class="container">
                    <div class="pull-left">
                        <a href="#"><i class="fa fa-map-marker"></i>CNAPS, Antananarivo</a>
                    </div>
                    <div class="pull-right">
                        <ul class="header_social">
                            <li><a href="www.facebook.com/haintso-trano"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="www.twiter/haintso-trano"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="www.google-plus/haintso-trano"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_menu_area">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">logo</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse "  id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li ><a href="<%= acceuil_path %> " ><font color="blue" size="4"k>Acceuil</font> </a></li>
                                <li><a href="<%= presentation_path %>"><font color="blue" size="4">Presentation</font></a></li>  
                                <li><a href="<%= realisation_path %>"><font color="blue" size="4">Realisation</font></a></li>
                                
                                <li><a href="<%= mission_path %>"><font color="blue" size="4">Mission</font></a></li>
                                
                                <li><a href="#" data-toggle="modal" data-target="#exampleModal"><font color="blue" size="4">Contact</font></a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </header>