        <body>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="padding-left: 200px"><font color="blue" size="5"> nous contactez</font></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                Hainso-trano <br>
                Addresse: Cnaps, Antananarivo <br>
                tél: (+261) 34 <br><br>
                ou envoyer nous une e-mail directe ici <br>
            </div>
            <div class="modal-body">
                <%= form_tag "/send-email", method: "post" do %>
                      <div class="form-group">
                        <label for="exampleInputEmail1" style="color:blue">Nom: </label>
                        <input type="text" id="name" class="form-control invalid " name="name" placeholder="votre nom" required>
                        <p class="text-danger error" style="display:none">ce champs ne doit pas depasser de 20 caracteres</p>
                      </div>

                          <div class="form-group">
                             <label for="exampleInputPassword1" style="color:blue">e-Mail: </label>
                            <input type="email" id="email" class="form-control invalid " name="email" placeholder="placez ici votre addresse email" required>
                            <p1 class="text-danger error" style="display:none">mail invalide</p1>
                      </div>   
                      <div class="group">
                            <label for="exampleInputEmail1" style="color:blue">Message: </label> <br>
                            <textarea type="text" id="message" name="message" rows="5" cols="30" class="form-control invalid " >
                            </textarea>                           
                            <p2 class="text-danger error" style="display:none"><br> ce champs ne doit pas etre vide</p2>
                        </div> 


            <div class="modal-footer">
                <button type="submit" id="send" class="btn btn-primary">envoyer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
            </div>
            </div>
            
            </div>
                <% end %>
         
        </div>
        </div>







        <script src="/lib/js/jquery-2.2.4.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                function validateEmail(email)
                {
                    var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    return re.test(email);
                }
                $("#name").keyup(function(){
                    if($(this).val().length>20)
                    {
                        $(this).css("border-color","red");
                        $("p.error").show();
                    }else if($(this).val().length<=20)
                    {
                        $(this).css("border-color", "green");
                        $("p.error").hide();
                        $(this).removeClass("invalid");
                    }

                });
                $("#email").keyup(function(){
                    if(!validateEmail($(this).val()))
                    {
                        $(this).css("border-color","red");
                        $("p1.error").show();
                        
                    }else if (validateEmail($(this).val()))
                    {
                        $(this).css("border-color", "green");
                        $("p1.error").hide();
                        $(this).removeClass("invalid");
                        
                    }
                });
                $("#message").keyup(function(){
                    if($(this).val().length<30)
                    {
                        $(this).css("border-color","red");
                         $("p2.error").show();
                    }else {
                        $(this).css("border-color","green");   
                        $("p2.error").hide();
                        $(this).removeClass("invalid");
                    }
                });
                $("#send,#email,#message").keyup(function(){
                    if(this).removeClass("invalid")==true
                    {
                        $("#send").show();
                    }else
                    {
                        $("#send").hide();
                    }
                })
            });
        </script>

        </body>

